{% extends 'music/base.html' %}
{% block title %}Add a New Word{% endblock %}
{% block topics_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'music:detail' topic.id %}">
                            {% if topic.topic_logo %}
                                <img src="{{ topic.topic_logo.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>

                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'music:detail' topic.id %}">View All</a></li>
                <li role="presentation"class="active"><a href="{% url 'music:create_vocabulary' topic.id %}">Add New Word</a></li>
                <li role="presentation"><a href="{% url 'music:compare_word' topic.id 0%}">EngLish to VN</a></li>
                <li role="presentation"><a href="{% url 'music:compare_word' topic.id 1%}">VN to English</a></li>
                <li role="presentation"><a href="{% url 'music:create_vocabulary' topic.id %}">Story to VN</a></li>
                <li role="presentation"><a href="{% url 'music:create_vocabulary' topic.id %}">Story to English</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body" style="text-align:center">
                    <h3 style="text-align:center">Add a New Word</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!--<input type="hidden" name="topic" value="{{ topic }}">-->
                        {% include 'music/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="button_1">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>

</div>

{% endblock %}

