{% extends 'music/base.html' %}
{% block title %}Add a New Word{% endblock %}
{% block topics_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="container-fluid">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="text-align:center"><font size="10" color="green">{{topic.topic_title}}</font></h1>
                    <a href="{% url 'music:detail' topic.id %}">
                        {% if topic.topic_logo %}
                            <img src="{{ topic.topic_logo.url }}" class="img-responsive" style="width:500px;margin:0 200px;" >
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-12 col-md-12">

            <ul class="nav nav-pills" style="margin-bottom: 10px;font-size: 2em;">
                <li role="presentation"><a href="{% url 'music:detail' topic.id %}">View All</a></li>
                <li role="presentation"class="active"><a href="{% url 'music:create_vocabulary' topic.id %}">Add New Word</a></li>
                <li role="presentation"><a href="{% url 'music:compare_word' topic.id 0%}">EngLish to VN</a></li>
                <li role="presentation"><a href="{% url 'music:compare_word' topic.id 1%}">VN to English</a></li>
                <li role="presentation"><a href="{% url 'music:create_vocabulary' topic.id %}">Story to VN</a></li>
                <li role="presentation"><a href="{% url 'music:create_vocabulary' topic.id %}">Story to English</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body" style="text-align:center">
                    <h3 style="text-align:center">Add a New Word</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="topic" value="{{ topic }}">
<!--                        {% include 'music/form_template.html' %}-->
<!--                        <form class="form-horizontal" role="form" action="" method="POST" enctype="multipart/form-data">-->
<!--                            {% csrf_token %}-->
                            <input class="input_predict" name="vocabulary_title" placeholder="vocabulary_title" style="font-size: 1em;">
<!--                            <input class="input_predict" name="type" placeholder="type" style="font-size: 1em;">-->
                            <select name="type" style="font-size: 1em;" class="input_predict">
                            <option value="1">NOUN XC90</option>
                            <option value="2">VERB 95</option>
                            <option value="3">ADJ</option>
                            <option value="4">ADV</option>
                            </select>
                            <input class="input_predict" name="story" placeholder="story" style="font-size: 1em";>
                            <input class="input_predict" name="mean" placeholder="mean"style="font-size: 1em;">
                            <button id="input_predict" type="submit" class="button_1" style="font-size: 1em;">Submit</button>
<!--                        </form>-->




<!--                        <div class="form-group">-->
<!--                            <div class="col-sm-offset-2 col-sm-10">-->
<!--                                <button type="submit" class="button_1">Submit</button>-->
<!--                            </div>-->
<!--                        </div>-->
                    </form>
                </div>
            </div>


        </div>

    </div>

</div>

{% endblock %}

