{% extends 'music/base.html' %}
{% block title %}Add a New Word{% endblock %}
{% block topics_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="container-fluid">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align:center;" >
             <strong style="font-size: 2em;color:#002ba1;">{{topic.topic_title}}</strong>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-12 col-md-12">

            <ul class="nav nav-pills" style="margin-bottom: 15px;font-size: 2.5em;">
                <li role="presentation"><a href="{% url 'music:detail' topic.id %}">View All</a></li>
                <li role="presentation"class="active"><a href="{% url 'music:create_vocabulary' topic.id %}">Add New Word</a></li>
                <li role="presentation"><a href="{% url 'music:compare_word' topic.id 0%}">EngLish to VN</a></li>
                <li role="presentation"><a href="{% url 'music:compare_word' topic.id 1%}">VN to English</a></li>
                <li role="presentation"><a href="{% url 'music:compare_word' topic.id 2%}">Story to English</a></li>
            </ul>

            <div >
                <div style="text-align:center">
                    <strong style="text-align:center;font-size: 6em;color:green;">New Word</strong>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data" autocomplete="off"
                    style=" margin-top:7%;">
                        {% csrf_token %}
                            <input type="hidden" name="topic" value="{{ topic }}">
                            {% csrf_token %}
                            <input class="input_predict" name="vocabulary_title" placeholder="vocabulary" style="font-size: 5em;">
                            <select name="type" style="font-size: 5em;" class="input_predict">
                            <option value="1" style="font-size: 0.5em;">NOUN</option>
                            <option value="2" style="font-size: 0.5em;">VERB</option>
                            <option value="3" style="font-size: 0.5em;">ADJ</option>
                            <option value="4" style="font-size: 0.5em;">ADV</option>
                            </select>
                            <input class="input_predict" name="story" placeholder="story" style="font-size: 5em";>
                            <input class="input_predict" name="mean" placeholder="mean"style="font-size: 5em;">
                            <button id="input_predict" type="submit" class="button_1" style="margin-top:7%;font-size: 5em;">Submit</button>

                    </form>
                </div>
            </div>


        </div>

    </div>

</div>

{% endblock %}

