{% extends 'music/base.html' %}
{% block title %}Add a New Topic{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div style="text-align:center;">
                    <strong style="text-align:center;font-size: 5em;color:green;">Add new topic</strong>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data" style="text-align:center;font-size:3em;">
                        {% csrf_token %}
<!--                        {% include 'music/form_template.html' %}-->
                        <input class="input_predict" name="topic_title" placeholder="topic" style="font-size: 2em;">
                        <input type="file" name="topic_logo" style="margin-top:30px">
                        <button type="submit" class="button_1" style="font-size:1.5em;margin-top:30px">Submit</button>
                    </form>
            </div>
        </div>

    </div>

</div>
{% endblock %}
