{% extends 'music/base.html' %}
{% block title %}{{ topic }}{% endblock %}
{% block topics_active %}active{% endblock %}

{% block body %}
<div class="container-fluid vocabularys-container">

    <div class="container-fluid">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="text-align:center"><font size="10" color="green">{{topic.topic_title}}</font></h1>
                    <a href="{% url 'music:detail' topic.id %}">
                        {% if topic.topic_logo %}
                            <img src="{{ topic.topic_logo.url }}" class="img-responsive" style="width:500px;margin:0 200px;" >
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>

        <!-- Right Vocabulary Info -->
        <div class="col-sm-12 col-md-12">

            <ul class="nav nav-pills" style="margin-bottom: 10px;font-size: 2em;">
                <li role="presentation" class="active"><a href="{% url 'music:detail' topic.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'music:create_vocabulary' topic.id %}">Add New Word</a></li>
                <li role="presentation"><a href="{% url 'music:compare_word' topic.id 0%}">EngLish to VN</a></li>
                <li role="presentation"><a href="{% url 'music:compare_word' topic.id 1%}">VN to English</a></li>
                <li role="presentation"><a href="{% url 'music:create_vocabulary' topic.id %}">Story to VN</a></li>
                <li role="presentation"><a href="{% url 'music:create_vocabulary' topic.id %}">Story to English</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Vocabularys</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Mean</th>
                            <th>Rating</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vocabulary in topic.vocabulary_set.all %}
                            <tr>
                                <td>{{ vocabulary.vocabulary_title }}</td>
                                <td>{{vocabulary.type }}</td>
                                <td>{{vocabulary.mean }}</td>
                                <td>{{vocabulary.rating }}</td>
                                <td>
                                    <form action="{% url 'music:delete_vocabulary' topic.id vocabulary.id 0%}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="vocabulary_id" value="{{ vocabulary.id }}" />
                                        <button type="submit" class="btn btn-primary btn-xs">
                                            <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp; Save
                                        </button>
                                    </form>
                                    <form action="{% url 'music:delete_vocabulary' topic.id vocabulary.id 0%}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="vocabulary_id" value="{{ vocabulary.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
