{% extends 'music/base.html' %}
{% block title %}Add a New Word{% endblock %}
{% block topics_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="container-fluid">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align:center;" >
             <strong style="font-size: 2em;color:#002ba1;">{{topic.topic_title}}</strong>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-12 col-md-12">

            <ul class="nav nav-pills" style="margin-bottom: 15px;font-size: 2.5em;">
                <li role="presentation"><a href="{% url 'music:detail' topic.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'music:create_vocabulary' topic.id %}">Add New Word</a></li>
                <li role="presentation" ><a href="{% url 'music:compare_word' topic.id 0%}">EngLish to VN</a></li>
                <li role="presentation" ><a href="{% url 'music:compare_word' topic.id 1%}">VN to English</a></li>
                <li role="presentation" class="active"><a href="{% url 'music:compare_word' topic.id 2%}">Story to English</a></li>
            </ul>

            <!--TEST POP UP-->
            <div id="modal-wrapper" class="modal">
                <form class="modal-content animate">
                    <div class="imgcontainer">
                    <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close
                          PopUp">&times;</span>
                        <img src="https://img.vietwiki.net/uploads/2018/01/trieu-le-dinh-1.jpg" alt="Avatar" class="avatar">
                        <br>
                        <strong style="text-align:center;font-size: 2.5em;color:#1c011a;">{{link.vocabulary_title}}</strong>
                        <br>
                    </div>
                    <div class="w3-container" style="text-align:center">
                        <h2 style="font-size: 2em;"><font color="#1c911a">{{link.mean}}</font></h2>
                        <span><font size="7" color="#4542f5">{{link.story}}</font></span>
                        <br>
                        {% for example in link.example_set.all %}
                        <span><font size="6" color="#ed6707">{{ example.example_txt }}</font></span>
                        <br>
                        {% endfor %}
                        <form action="/action_page.php">
                            <input class="predict_txt" name="Example" placeholder="New example" style="width:85%;margin-top: 10%;font-size:1em;">
                            <br>
                            <button type="submit" class="button_1" style="width:85%;margin-top: 5%;font-size:1em;">Add new</button>

                        </form>

                    </div>

                </form>

            </div>

            <!--VIEW-->
            <div>
                <div style="text-align:center">
                    {% if new_word %}
                    <strong style="font-size: 5em;">{{new_word.story}}</strong>
                    <form class="form-horizontal" role="form" action="" method="POST" enctype="multipart/form-data"
                    style="margin-top:5%;" autocomplete="off">
                        {% csrf_token %}
                        <input class="input_predict" name="predict_txt" style="font-size: 5em;">
                        <input type="hidden" name="vocabulary" value="{{new_word.id}}">
                        <button id="submitword" type="submit" class="button_1" style="font-size: 4em;margin-top:3%;">Submit</button>
                    </form>
                    {% endif %}
                    {% if error_message %}
                    <div style="margin: auto;">
                    <strong role="presentation" style="font-size: 4em; color:#1a75ff">{{link.story}}</strong>
                    </div>
                    {% if result %}
                    <div class="alert" style="background-color:#00994d;font-size: 2em;">
                        <strong style="font-size: 2em;">{{error_message}}!</strong>
                        <br>
                        <button class="button_1"
                                onclick="document.getElementById('modal-wrapper').style.display='block'"
                        style="width:40%;margin-top:15%;font-size: 1.3em;background-color: #eb7609;">
                            Revise
                        </button>
                        <button class="button_1"
                                onclick="window.location.href='{% url 'music:compare_word' topic.id 2%}'"
                        style="width:40%;margin-top:15%;font-size: 1.3em;background-color: #eb7609;">
                            Continues
                        </button>
                    </div>
                    {% else %}
                    <div class="alert" style="background-color:#e00b0b;font-size: 2em;">
                        <strong style="font-size: 2em;">{{error_message}}</strong>
                        <br>
                        <br>
                        <strong>What a pity !!!</strong>
                        <br>
                        <button class="button_1"
                                onclick="document.getElementById('modal-wrapper').style.display='block'"
                        style="width:40%;margin-top:15%;font-size: 1.3em;background-color: #eb7609;">
                            Revise
                        </button>
                        <button class="button_1"
                                onclick="window.location.href='{% url 'music:compare_word' topic.id 2%}'"
                        style="width:40%;margin-top:15%;font-size: 1.3em;background-color: #eb7609;">
                            Continues
                        </button>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

